@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRISMA.WEB</h1>
    <p class="lead">Discomplicamos o complicado para que um bebê possa escolher em quem votar.</p>
    <p><a href="~/Candidatos/Create" class="btn btn-primary btn-lg">Novo candidato &raquo;</a></p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            O entendimento das metas propostas pode nos levar a considerar a reestruturação do orçamento setorial. Podemos já vislumbrar o modo pelo qual a estrutura atual da organização estende o alcance e a importância do sistema de participação geral. Todas estas questões, devidamente ponderadas, levantam dúvidas sobre se a execução dos pontos do programa oferece uma interessante oportunidade para verificação das diretrizes de desenvolvimento para o futuro.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>Percebemos, cada vez mais, que a expansão dos mercados mundiais agrega valor ao estabelecimento dos índices pretendidos. Evidentemente, a mobilidade dos capitais internacionais exige a precisão e a definição das diversas correntes de pensamento. O cuidado em identificar pontos críticos na hegemonia do ambiente político aponta para a melhoria de alternativas às soluções ortodoxas.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>As experiências acumuladas demonstram que o julgamento imparcial das eventualidades garante a contribuição de um grupo importante na determinação das formas de ação. Neste sentido, o desenvolvimento contínuo de distintas formas de atuação estimula a padronização das regras de conduta normativas. A nível organizacional, o surgimento do comércio virtual aponta para a melhoria dos níveis de motivação departamental.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>